.navbar {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

h3 {
  color: #bbe925;
}

h4:hover {
  color: #bbe925;
  cursor: pointer;
  transition-duration: 0.4s;
}

h4:not(hover) {
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}

a {
  text-decoration: none;
  scroll-behavior: smooth !important;
}
